table {
  width: 100%;
}

table th, table td {
  padding: 10px 20px;
  text-align: left;
}

table th {
  cursor: pointer;
}

input {
  padding: 10px;
  border: 2px solid #ccc;
  width: calc(100% - 40px);
}

button {
  padding: 10px 15px;
  background-color: #07a;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button.red {
  background-color: #a00;
}